# Environment variables
.env
*.env

context.md

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
tmp/

node_modules/                                                         
package-lock.json                                                     
package.json   